<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YOBIT.API.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <YOBIT.API.Properties.Settings>
            <setting name="PublicAPIUrl" serializeAs="String">
                <value>https://yobit.net/api/3/</value>
            </setting>
            <setting name="TradeAPIUrl" serializeAs="String">
                <value>https://yobit.net/tapi</value>
            </setting>
            <setting name="GetOrderBookMethod" serializeAs="String">
                <value>depth/</value>
            </setting>
            <setting name="TradeMethod" serializeAs="String">
                <value>Trade</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>64AB8844A6B9E13299F3A43F957D4AAC</value>
            </setting>
            <setting name="Secret" serializeAs="String">
                <value>28e03d4efb2ae1d513b13b5c4719bc00</value>
            </setting>
            <setting name="GetTickerMethod" serializeAs="String">
                <value>ticker/</value>
            </setting>
        </YOBIT.API.Properties.Settings>
    </applicationSettings>
</configuration>